<div class="post-separator">
  <span>Active Projects</span>
</div>
<div class="projects">
  {% for post in site.projects %}
  {% if post.active %}
    {% include project.html param="post" variable-param=post %}
  {% endif %}
  {% endfor %}
</div>

<div class="post-separator">
  <span>Previous Projects</span>
</div>
<div class="projects">
  {% for post in site.projects %}
  {% unless post.active %}
    {% include project.html param="post" variable-param=post %}
  {% endunless %}
  {% endfor %}
</div>
