---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

//
// Mixins
//
@mixin fade-in($delay, $duration) {

  -webkit-animation: fadein $duration;
     -moz-animation: fadein $duration;
       -o-animation: fadein $duration;
          animation: fadein $duration;

  -webkit-animation-delay: $delay;
     -moz-animation-delay: $delay;
       -o-animation-delay: $delay;
          animation-delay: $delay;

  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;

  opacity: 0;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

//
// Custom bootstrap variables
//

// Roboto font
$font-family-sans-serif:   "Roboto Slab";
// Background color
$body-bg:                  transparent !default;
// Global textual link color
$link-color:               #A8E4FF !default;
// Link hover color
$link-hover-color:         darken($link-color, 10%) !default;
// Link hover decoration.
$link-hover-decoration:    underline !default;

// Import bootstrap
@import "bootstrap";

//
// Theme
//

// Footer height
$footer-fixed-height:      60px;

// Top style
.titles {
  padding-top: 50px;

  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);

  @include fade-in(0.5s, 2s);
}

.title {
  margin-bottom: 0;
  padding: 0 0 0 0;

  font-size: 6em;
  font-weight: 500;
}

.subtitle {
  margin: 0 0 15px 0;
}

.navbar-icons {
  background-color: transparent;
  border-color: transparent;

  @include fade-in(0.5s, 2s);
}

// Bottom footer
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footer-fixed-height;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  @include fade-in(0.5s, 2s);
}

.footer-text {
  color: white;
  text-shadow: 1px 1px #000;
}

// Boxes
.box {
  padding: 30px;
  text-align: justify;

  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

  h3 {
    margin-top: 0px;
  }

  a {
   color: #2DB2AC;
  }

  .project-info {
    text-align: left;

    .glyphicon {
      margin-right: 3px;
    }

    p {
      margin-top: 10px;
    }
  }
}

.row {
  margin-bottom: 30px;

  @include fade-in(0.5s, 2s);
}

p {
  margin: 0;
}


.paginate {
  color: $link-color;
  font-size: 1.75rem;

  a {
    color: white;
    font-size: 1.5rem;

    &:hover {
      text-decoration: none;
      font-weight:bold;
    }
  }
}

// Background
html {
  background-color: rgba(214,214,214,1);
  background: url("../images/background_low.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  visibility: hidden; // Do not show anything until content loads
}
